<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>ハンズフリーモードで音声入力を使用するためにマイクへのアクセスが必要です</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>ハンズフリーモードで音声を文字に変換するために音声認識機能が必要です</string>
</dict>
</plist>
